# SPDX-FileCopyrightText: Red Hat
# SPDX-License-Identifier: MIT

name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  build-test:
    name: "test from sources"
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.6"
          - "3.9"
          - "3.12"
    runs-on: ${{ contains(fromJson('["3.6"]'), matrix.python-version) && 'ubuntu-20.04' || 'ubuntu-latest' }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: test-requirements.txt

      - name: Install test requirements
        run: pip install -r test-requirements.txt

      - name: Run tests
        run: |
          pytest 

  install-test:
    name: "test as installed"
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.6"
          - "3.9"
          - "3.12"
    runs-on: ${{ contains(fromJson('["3.6"]'), matrix.python-version) && 'ubuntu-20.04' || 'ubuntu-latest' }}

    steps:
      - uses: actions/checkout@v4
        with:
          path: sources

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: sources/test-requirements.txt

      - name: Install from sources via pip
        run: pip install sources

      - name: Install test requirements
        run: pip install -r sources/test-requirements.txt

      - name: Run tests
        run: |
          pytest sources/tests
